@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Sora, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to top, #f7fafe 0%, #fff 120%);
  min-height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -1px;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.tags::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.tags {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer components {
  .btn-primary {
    @apply h-10 rounded-3xl bg-primary-main px-4 text-white transition-all hover:bg-primary-dark disabled:bg-neutral-dark disabled:text-gray-300;
  }
  .btn-secondary {
    @apply rounded-full border border-neutral-dark px-12 py-2 text-xl font-medium text-secondary-dark disabled:border-gray-400 disabled:text-gray-400;
  }
  .custom-container {
    @apply mx-6 sm:mx-8 xl:mx-auto xl:w-[var(--container)];
  }
}

::selection {
  color: #f0f7ff;
  background: #f75130;
}
:root {
  --container: 1120px;
  /* --light-blue: #d7e5ff; */
  /* --lavender: #d8e5ff; */
  /* --blue: #598eec; */
  /* --lightYellow: #ffa600;
    --yellow: #ffa700;
    --brightYellow: #fba61b; */
  /* --green: #15d6cf; */
  /* --purple: #441b49; */
  /* --darker: linear-gradient(204.03deg, #07122e 16.62%, #16071e 81.74%); */
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
.link {
  @apply border-t-2 border-b-2 border-transparent pb-[6px] text-neutral-light transition-all hover:border-b-primary-main;
}
